
<div class="row">
	<div class="col-xs-12">
		<center>
			<h2><%= @school.name %> <%= @house_term %> Cup Standings</h2>
			<br/><br/><br/>
		</center>
	</div>
</div>
<div class="row">
<% i = 1
@houses.each do |h| %>
	<div class="col-xs-<%= 12/ @houses.count%>">
		<center>
			<img src="<%= h.image.url %>" class="img-responsive"/>
			<% if @showHouseTextNames %>
				<br/>
				<h3><%= h.name %></h3>
			<% end %>
		</center>
	</div>
	<% i = i + 1 %>
<% end %>
</div>
<div class="row">
<% i = 1
@houses.each do |h| %>
	<div class="col-xs-<%= 12/ @houses.count%>">
		<center>
			<div id="score-<%= i %>" class="score">
		    <div class="outer" style="height: 150px">
		        <div class="inner" data-progress="<%= (h.points.to_f / @max_score.to_f) * 100 %>%" style="background-color: <%= h.color %>">
		        </div>        
		    </div>
			</div>
			<b class="score"><%= h.points%> Points</b>
		</center>
	</div>
	<% i = i + 1 %>
<% end %>
</div>
<%= javascript_include_tag params[:controller] %>
<script type="text/javascript">
	setTimeout(function(){
		location.reload();
	}, 60 * 60 * 1000);
</script>